/DuelistMod.jar
/lib/desktop-1.0.jar
/DuelistMod/.classpath
/DuelistMod/src/main/resources/defaultModResources/images/char/duelistCharacter/theDuelistAnimation.autosave.scml
/DuelistMod/src/main/resources/defaultModResources/images/char/duelistCharacter/yugio.png
/DuelistMod/src/main/resources/defaultModResources/images/char/duelistCharacter/NewProject.autosave.scml
/DuelistMod/src/main/resources/defaultModResources/images/charSelect/newbutton_potentialSmall.png
/DuelistMod/src/main/resources/defaultModResources/images/charSelect/DuelistCharacterPortraitBG.png
/DuelistMod/src/main/resources/defaultModResources/images/charSelect/DuelistCharacterPortraitBG_4k.png
/lib
/DuelistMod/src/main/resources/duelistModResources/localization/eng/DuelistMod-Config-Strings.json
/.idea/
